@import "../../../../utils/variables";
@import "../../../../utils/mixins";

.delete-attorney {
  &-step2-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
  }
  &_table {
    width: 100%;
    table-layout: fixed;
    &-wrapper {
      padding: 0 10px;
      width: 100%;
      height: calc(100vh - 230px);
      overflow-y: auto;
    }
    &-head {
      font-weight: bold;
      padding: 15px 10px 0 0;
      text-align: left;
      width: 33.3%;
    }

    &-row {
      cursor: pointer;
      svg {
        width: 13px;
        height: 16px;
        margin-right: 5px;
        margin-bottom: -1px;
      }
      &_active {
        background-color: #9be0e0 !important;
        td {
          color: black;
        }
      }
    }

    &-row:nth-child(even) {
      background-color: $grey-card;
    }

    &-cell {
      padding: 10px 0;
      text-overflow: ellipsis;
      overflow: hidden;
      &_patientID{
      width:200px;
      }
    }

    &-link {
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .add-list {
    li:nth-last-child(-n+3) .add-list_key{
      flex: 4 !important;
    }
  }
  
}
.headerdiv{
  font-size: 75%;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left:10px;
}
.change-adjuster{
  background-color: #1ac1a2;
  color: white;
  width: 140px;
  height: 30px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.is-open .Collapsible span.Collapsible__trigger.is-open {
  background: #9be0e0;
}

.is-open .Collapsible span.Collapsible__trigger.is-closed {
  background: #9be0e0;
}
.closeicn{
  width: 30px;
  height: 10px;
  align-content: right;
  margin-left: 60px;
  cursor: pointer;
}