@import "../../../../utils/variables";
@import "../../../../utils/mixins";

.dashboard-insurance_menu {
  @include side-menu;

  display: flex;
  max-width: 360px;
  min-width: 360px;
  width: 100%;
  height: calc(100vh - 48px);
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.33);
  overflow: hidden;
  .searchtablelist{
  width:97%;
  height:80%;
  overflow:auto;

  }
   &_header{
      font-size: 18px;
    
    height: 70px;
    padding: 30px 0px 0px 40px;
    background-color: #cdd5dd;
  }
  .spantext{
  font-size:14px;
  }
  .spanhead{
   font-size:12px;
   font-weight:bold;
  }

  //height: 100%;
  //background-color: #fff;
  //width: 20%;
  //transition: 0.2s;
  //&_title {
  //  padding: 20px 35px;
  //  background-color: #cdd5dd;
  //  font-size: 20px;
  //  color: $black;
  //}
  //&_body {
  //  padding: 40px 25px;
  //}
  //&_label {
  //  margin-bottom: 30px;
  //  color: $black;
  //  display: flex;
  //  width: 100%;
  //  text-align: right;
  //  justify-content: flex-end;
  //  align-items: center;
  //  input {
  //    margin-left: 10px;
  //    border: solid 1px #8897a9;
  //    padding: 0 5px;
  //    width: 62%;
  //  }
  //  textarea {
  //    min-width: 62%;
  //    max-width: 62%;
  //    max-height: 100px;
  //    min-height: 50px;
  //    border: solid 1px #8897a9;
  //    padding: 5px;
  //    margin-left: 10px;
  //  }
  //  select {
  //    border: solid 1px #8897a9;
  //    margin-left: 10px;
  //    width: 62%;
  //  }
  //}
  //&_controls {
  //  display: flex;
  //}
  //&_btn {
  //  text-align: center;
  //  flex-basis: 50%;
  //  padding: 15px 0;
  //  color: #fff;
  //  cursor: pointer;
  //}
  //&_cancel {
  //  background-color: #596471;
  //}
  //&_save {
  //  background-color: #3db4e5;
  //}
}
