// Palette
$white: #ffffff;
$black: #000000;
$green: #0aa89e;
$green-dark: #08877f;
$blue: #3db4e5;

$grey-dark: #2b323a;
$grey-middle: #999999;
$grey-light: #e5e6e6;

$grey-card: #edeff1;
$grey-element: #8897a9;

$text-light: #969c9c;
$text-dark: #333333;
$tenne : #B85C00;
$shalimar :#FFFFAA;
$maroon: #990000;
$pink: #8B0A50;
$statusblue : #468fd6;
$teal:#27906a;
$darkgrey:#6A6A6A;
$red:#DF0101;
$safron:#F78181;
$light-green:#9be0e0;

//IE Breakpoints
$IE-media : screen and (-ms-high-contrast: active), (-ms-high-contrast: none)