@import "../../utils/variables";
@import "../../utils/mixins";

.dashboard-search-wrapper {
  display: flex;
  flex: 1 1 auto;
}

.dashboard-search {
  display: flex;
  width: 100%;
  height: calc(100vh - 63px);
  max-height: calc(100vh - 63px);
  overflow: auto;
  margin: 15px 16px 0;
  flex-direction: column;
  background-color: #fff;
  padding: 15px 25px;
  position: relative;
   &_title {
    color: $text-dark;
    margin-bottom: 30px;
    float: left;
    margin-right: 10px;
  }
  &_titlecounter
{
  
display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0aa89e;
    box-sizing: border-box;
   width: 24px;
    border-radius: 4px;
    padding: 2px 4.5px;
    margin-left: 8px;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
}
  &_button {
    
      margin-right: 20px;
    }
    &_tabbody{
    width:810px;
    height:500px;
    overflow-x: auto;
    overflow-y: auto;
    }

  &_header-tools {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    display: flex;
    align-items: center;

    button {
      cursor: pointer;
      margin-left: 20px;

      &:first-of-type svg {
        width: 24px;
        height: 24px;

        path {
          fill: #3db4e5;
        }
      }

      &:nth-of-type(2) svg {
        width: 16px;
        height: 16px;
      }

      &:last-of-type svg{
        width: 12px;
	    height: 16px;
      }
    }
  }

  &_title {
    color: $text-dark;
    margin-bottom: 50px;
  }

  &_options {
    display: flex;
    padding: 0 40px;
  }

  &_option {
    label {
      margin-right: 20px;
    }

    select {
      min-width: 240px;
    }
  }

  &_search,
  &_select {
    margin-right: 80px;
    border: 1px solid $grey-element;
  }

  &_search {
    padding: 0 5px;
  }

  &_excel {
    margin-left: auto;
    display: flex;
    align-items: center;

    svg {
      width: 24px;
	  height: 24px;
      margin-right: 5px;
    }
  }

   &_table {
    width: 100%;
    border-collapse: collapse;
    th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
      background-color: #0aa89e;
   
    color: white;
}
    tr:nth-child(even){background-color: #f2f2f2;}
td,th{
    padding: 6px;
}

   

    &-head {
      font-weight: bold;
    padding: 6px 0 0 6px;
    text-align: left;
    font-size: 14px;
       &-row{

      &_active{
       background-color:#3db4e5;
       td{
      color:white
      }
      }

    }
    }

    &-row {

      svg {
        width: 13px;
        height: 16px;
        margin-right: 5px;
        margin-bottom: -1px;
      }
      
    }

    &-row:nth-child(odd) {
      background-color: $grey-card;
    }

    &-cell {
      padding: 10px 0;
      
    }
    &-row {

    &_active{
   background-color: $grey-card;
    }
    }

    &-cell:first-child,
    &-head:first-child {
      padding: 0 10px;
    }

    &-link {
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
